@model Core.VeiwModel.JobVeiwModel

<div class="col-8 form-body m-auto  mt-2 ">
    
    <div class=" ">

    <div class="mt-0 form-holder pt-0">
        <div class="form-content pt-4">
            <div class="form-items border-success">
                <h3 style="overflow: hidden; scroll-behavior: smooth;"class="text-center">Apply For The Job</h3>
                <hr >
                <p class="text-info">.</p>
                <div class="col-12 ">
                    <div class=" mt-2">
                        @if (Model != null)
                        {
                            <h5>  @Model.Title</h5>
                            <div class="row">

                                <div class="col-2 mb-2">

                                    <p> <i class="fa fa-map-marker text-success  "></i>@Model.Location</p>
                                </div>
                                <div class="col-2 mb-2">
                                    <p><i class=" text-success  fa fa-clock-o"></i>@Model.JobType</p>
                                </div>
                                <div class="col-2 mb-2">

                                    <p><i class=" text-success fa fa-usd"></i>@Model.Salary</p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col- mb-2">
                                    <h3 class="title text-success">Discription</h3>
                                    <br />
                                    <p class="ml-3">@Html.Raw(Model.Discription)</p>
                                    <div class="text ml-5"><a href=""></a></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col- mb-1">
                                    <h3 class="title text-success">Requirement</h3>
                                    <br />
                                    <p class="ml-3">@Html.Raw(Model.Requirement)</p>
                                    <div class="text ml-5"><a href=""></a></div>
                                </div>

                            </div>
                        }

                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Resume</label>
                                <input class="form-control" id="myResume" onchange="ConvertFilesToBase64(event)" name="Resume" type="file" style="border:none; outline:none; background-color:#f5f5f5;">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Upload CV</label>
                                <input class="form-control" id="myCv" onchange="ConvertFilesToBase64(event)" name="CV" type="file" style="border:none; outline:none; background-color:#f5f5f5;">
                            </div>

                        </div>
                        <div class="m-auto">
                            <button class="btn btn-blue btn-primary mb-3 text-center" onclick="myJob('@Model.Id')">Apply Here</button>
                        </div>
                    </div>
                </div>

                        

             </div>         

                      
           </div>
       </div>
    </div>
 </div>

