@model IEnumerable<Core.VeiwModel.JobVeiwModel>

<div class="container">
    <div class="row">
        <div class="my-4">
            <h4 class="text-center">Search for jobs</h4>
        </div>
        <div class="col-lg-12">
            <div class="me-lg-5">
                <div class="job-list-header">
                  
                        <div class="row g-2">
                            <div class="col-lg-6 col-md-6 mb-1">
                                <div class="filler-job-form">

                                    <input type="search" name="name" value="" class="form-control filter-job-input-box" id="companyname"  placeholder="companyName ">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-0">
                                <div class="filler-job-form">

                                    <input type="text" name="name" value=""id="location"  class="form-control filter-job-input-box" placeholder="Location">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-">
                                <div class="filler-job-form">

                                    <input type="text" name="name" value=""id="jobtitle" class="form-control filter-job-input-box" placeholder="Job Title">
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 mb-1">
                                <button  class="btn btn-primary w-100" onclick="myfilter()" >Fliter</button>
                            </div>
                        </div>
               
                </div>

            </div>
        </div>
    </div>
</div>

<div class="job-box  mt-4">
    <div class="p-4">
        <div class="row">

            <div class="mt-3 mt-lg-0 col-12  mb-5 wow fadeInUp" data-wow-delay="0.1s " >
                <h5 class="fs-16 fw-medium mb-1"> <small class="text-muted fw-normal"></small></h5>
                @if (Model != null || Model.Count() > 0)
                {

                    @foreach (var job in Model)
                    {
                        <div class="card border hover  p-4 mt-2 border-primary mb-0 text-black" id="@job.Id">
                            <div class="row">

                                <div class="col-8  ">

                                    <div class=" row list-inline-item">
                                        <h3 class="fs-14 mb-1 ml-3 " style="font-size:16px">@job.Title </h3>
                                    </div>

                                    <div class=" row list-inline-item">
                                        <h5 class=" fs-14 mb-1 text-primary ml-3">@job.CompanyName</h5>
                                    </div>
                                    <div class=" row list-inline-item">
                                        <p class=" fs-14 mb-1 ml-3">
                                            <i class="fa fa-map-marker"></i>  @job.Location
                                        </p>
                                    </div>
                                    <div class=" row list-inline-item">
                                        <p class=" fs-14 mb-1  ml-3">$@job.Salary</p>
                                    </div>

                                    <div class=" row ml-2">
                                        <span class=" text-primary offset-12 mb-2 p-1">@job.JobType</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a class=" d-flex justify-content-end" style="color:#FFFF33;height:20px; margin-left:10px;" >
                                        <img src="~/image/avatar1.jpg" height="100" width="100" class="rounded-circle" alt="Cinque Terre" />
                                    </a>

                                </div>
                                <div>
                                    <a class="btn btn-primary text-white float-left offset-11" asp-controller="User" asp-action="JobApplication" asp-route-id="@job.Id" >Apply</a>
                                </div>
                                @*<div>
                                    <button class="btn btn-info  text-white  offset-11" onclick="redirect()">Apply</button>
                                </div>*@

                            </div>

                        </div>

                        <br>
                    }
                }
                
            </div>
          
        </div>
    </div>


</div>
